#profile {
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.heading {
    font-weight: bolder;
    font: darkgrey;
    font-size: 2rem;
    flex-direction: row-reverse;
}

.img {
    border-radius: 100%;
    width: 10rem;
}

.contact {
    font-weight: 300;
    font: #555;
    font-size: 1rem;
}

.repo {
    font-weight: 400;
    font: #333;
    font-size: 1rem;
}

#repo_list {
    font-weight: bold;
    font: #777;
    font-size: 1.5rem;
    list-style: none;
}

.m10 {
    margin: 10px;
}

ul {
    margin: 10px;
    padding:30px;
    border: 1px solid lightslategray;
    border-radius: 45px;
}
